@remBase : 75;

@rem : round(1 / @remBase, 6) * 1rem;

// drp动态设置字体大小
.font-size(@px) {
  [data-dpr='1'] & {
    font-size: round(@px * 1) * 1px;
  }
  [data-dpr='2'] & {
    font-size: round(@px * 2) * 1px;
  }
  [data-dpr='3'] & {
    font-size: round(@px * 3) * 1px;
  }
}
.hide{
  display:none;
}
.mmb-container{
  min-width: 320px;
  max-width:750px;
  width: 100%;
  // height: 2000px;
  margin:0 auto;
  background-color: #eee;
}
.mmb-header{
  height: 100 *@rem;;
  background-color: #FF841D;
  width: 100%;
  padding: 20*@rem 10*@rem;
  position: relative;
  h3{
    color: #fff;
    font-size: .6rem;
    font-weight: 700;
   
    text-align: center;
  }
  .logo{
    position: absolute;
    top:50%;
    left:15*@rem;
    transform: translateY(-50%);
    img{
      width: 371*@rem;
      height: 50*@rem;;
    }  
  }
  .download{
    position: absolute;
    top:50%;
    right:10*@rem;
    transform: translateY(-50%);
    img{
      width: 68*@rem;
      height: 68*@rem;
    }
  }
}
.mmb-search{
  padding:25*@rem 20*@rem;
  display: flex;
  height: 100*@rem;
  background-color: #fff;
  // border: 1px solid #000;
  height: 100*@rem;
  .search-btn{
   border-radius: 100px;
   padding:0 40*@rem;
   height: 50*@rem;
   background-color: #FF841D;
   color:#fff;
   
  }
  .search-input{
    border-radius: 100px;
    margin:0;
    margin-right:30*@rem;
    height: 50*@rem;
    background-color: #eee;
  }
}
.mmb-footer{
  margin-top:50*@rem;
  width: 100%;
  text-align: center;
  .nav{
    margin-bottom:34*@rem;
    border-top:1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    height: 64*@rem;
    line-height:  64*@rem;
    width: 100%;
    display: flex;
    a{
    flex:1;
      color:#000;
    }
    a:nth-child(2n){
      border-left:1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    }
  }
}
.product {
  >ul{
    margin-bottom: 20*@rem;
    li{
      height: 260*@rem;
      display: flex;
      border-bottom: 1px solid #E6E6E6;
      
      .pro-img{
          width: 230*@rem;
          padding: 20*@rem 30*@rem;
          display: flex;
          align-items: center;
        img{
          width: 100px;
          height: 100px;
        }
      }
      .pro-dec{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding:30*@rem 30*@rem 60*@rem;
        .text{
          .font-size(20px); 
          color:#000;
          span{
            color:#FF5C02;
          }
        }
        .origin{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .wrapper{
    padding: 20*@rem;
    width: 100%;
    
    .more-sale{
      display: block;
      height: 60*@rem;
      width: 100%;
      font-size:.16rem;
    }
  }
 
} 
// 比价 
.category-nav{
  height: 70*@rem;
  line-height:  70*@rem;
  border-top: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;
  background-image: linear-gradient(to bottom, #fff, #EEE);
  padding:0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul{
    // overflow: hidden;
    li{
      float: left;
    }
  }
  .selector{
    
    background-image: linear-gradient(to bottom, #D5D5D5, #fff);
  }
}


//分页
.pagination{
  padding:30*@rem;;

 border-bottom: 1px solid #C9C9C9;
  background: #fff;
  .numberbox{
    display: flex;
    justify-content: space-around;
    button{
      width: 162*@rem;
      height: 66*@rem;
      background-image: linear-gradient(to bottom, #D5D5D5, #fff);

    }
    .warpper{
     
      position: relative;
      height: 66*@rem;
      width: 150*@rem;
      border:1px solid #C9C9C9;
      text-align: center;
      line-height: 66*@rem; 
      .font-size(18px);
      // height: 66*@rem;
    
    i{
      padding-top:20*@rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 32*@rem;
      height: 100%;
      background-color: #E7E7E7;
      font-size: .30rem;
    }
    ul.hide{
      display:none;
    }
    ul{
      width: 150*@rem;
      position: absolute;
      top:66*@rem;
      left:0;
      height: 66*3*@rem;
      overflow: auto;
    li{
      height: 66*@rem;
      width: 150*@rem;
      border:1px solid #C9C9C9;
      border-top: none;
      background-color: #fff;
    }
    li:hover{
      background-color: skyblue;
    }
    }
    }
    
  }
 

}