@import "base";
@import "common";
.mmb-container{
  position: relative;
 
}
.mmb-main{
  .tips{
    text-align: center;
  }
  background-color: #fff;
  .product{
    .price{
      font-weight: 700;
      padding:20*@rem;
      color:#000;
    }
    .time{
      color:#EF7800;
    }
  }
}
.shade{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;;
  background-color: rgba(0,0,0,0.7);
  .box{
   width: 200px;
   height: 160px;
    position: fixed;
    top:300*@rem;
    transform: translateX(-50%);
    left:50%;
    .box-img.md{
      top:0;left:0;
      position: absolute;
    }
    .box-img.slide{
      position: absolute;
      top:0;
      // right:-100%;
      left:0;
      width: 200px;
      height: 160px;
      border:1px solid red;
    }
    .arrow-l ,.arrow-r{
      width: 30px;
      height:38px;
      z-index: 999;
      background-color: rgba(0,0,0,0.71);;
      color: #eee;
      font-size: .6rem;
      position: absolute;
      top:50%;
      transform: translateY(-50%); 
    }
    .arrow-l{
       left:-30px;
    }
    .arrow-r{
     right:-30px;
    }
  }
}
